<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="wrapper">
      {% include header.html %}
      <section>
        <h1 class="title">{{ page.title }}<span class="title-date">{{ page.date | date: ' %b %d, %Y' }}</span></h1>
        {{ content }}
        <div class='return'><small>Back to <a href="/">Home</a></small></div>
      </section>
      {% include footer.html %}
    </div>
    {% include google_analytics.html %}
  </body>
</html>
